.kqhsNavEle {
    margin: auto;
    font-family: "Oxygen",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
}

.kqhs-nav-link {
    color: #D8D36B;
}

.kqhs-nav-link:hover {
    color: #c0c0c0;
    text-decoration: underline;
}

.navbar-light .navbar-nav .nav-link,
.dropdown-item {
    color: #D8D36B;
}

.kqhs-navbar-cmp {
    border-bottom: 2px solid #D8D36B;
}

.mr-auto.navbar-nav {
    width: 30%;
}

.navbar-expand .navbar-nav {
    justify-content: space-evenly;
}
.dropdown.nav-item .dropdown-menu.black-background {
    background-color: black;
    top: 22px;
    right: 50px;
    transition-timing-function: linear;
    transition: display 2s
}

.kqhs-nav-item:hover {
    color: #8A191B;
    text-decoration: unset;
}

.dropdown-menu {
    left: -25px;
    text-align: center;
}

.nav-icon {
    overflow: hidden;
}