.flex-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px 30px;
    margin: 50px 45px;
    width: 75%;
}

.flex-container.reversed {
    flex-direction: row-reverse;
    border: 3px solid #C0C0C0;
    padding: 30px;
}

.not-reversed {
    border: 3px solid #8A191B;
    padding: 30px;
}

.not-reversed,
.flex-container.reversed {
    background-color: rgba(0,0,0,0.6);
}

.not-reversed:hover,
.flex-container.reversed:hover {
    width: 77%;
    box-shadow: 7px 4px 8px 0 rgba(214, 201, 17, 0.7), 7px 6px 20px 0 rgba(131, 124, 26, 0.7);
    cursor: pointer;
}

.kqhs-image-card-comp {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1;
}

.kqhs-image-comp {
    width: 48%;
}

a.img-link {
    transform: translate3d(0, 0, 0);
    transition: opacity 0.3s ease;
    object-fit: fill;
    margin-bottom: 1.5em;
    background-color: transparent;
    cursor: pointer;
    text-decoration: unset;
}

img.kqhs-img-in-card {
    display: block;
    border-radius: 6px;
    max-width: 100%;
    height: 100%;
    padding-right: 32px;
    object-fit: contain;
}

.not-reversed .kqhs-image-comp {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.kqhs-info-card-comp-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 48%;
    padding: 2% 0px 0px;
}


