.bottom-nav-wrpr {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-fluid.bottom-nav {
    padding: unset;
    position: fixed;
    bottom: 0;
}

