.title-comp {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5%;
}

.txt {
    color:#C0C0C0;
}
h1.title.txt,
h1.sub-title.txt{
    letter-spacing: 2px;
    font-size: 38px;
    font-family: "Lato",sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.1;
    text-align: center;
}

h1.sub-title.txt {
    margin-bottom: 3%;
    width: 75%;
}


h1.sub-title.txt:hover,
h4.phn-nmbr.txt {
    color: #8A191B;
    cursor: pointer;
}

h4.phn-nmbr.txt {
    font-size: 38px;
    font-family: "Lato",sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
}

@media only screen and (max-width: 992px) {  
    h1.title.txt, h1.sub-title.txt  {
        letter-spacing: 2px;
        font-size: 23px;
        font-family: "Lato",sans-serif;
        font-style: italic;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.1;
        text-align: center;
        padding-top: 3rem;
    }
}