.kqhs-footer-wrpr {
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.kqhs-footer {
    margin-bottom: 50px;
    background: rgba(0,0,0,0.85);
    border-top: 2px #D8D36B solid;
}

.kqhs-title-l1 {
    letter-spacing: -0.031em;
    font-family: "Lato",sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 228.5%;
    line-height: 1.3;
    text-align: center;
}

.kqhs-title-l1 a,
.kqhs-title-l1 a:hover {
    color: #C0C0C0;
    text-decoration: none;
}


.kqhs-title-l1:first-child {
    margin-top: 20px;
}

.cpy-rght {
    font-size: 150%;
    letter-spacing: 1px;
    color: #C0C0C0;
    text-align: center;
    font-family: "Oxygen",sans-serif;
    font-style: normal;
    font-weight: 400;
}

.mibase-sig {
    font-size: 150%;
    color: #C0C0C0;
    letter-spacing: 1px;
    line-height: 1.3;
    text-align: center;
    font-style: normal;
    font-weight: 400;
}

.kqhs-footer-wrpr.flexing .box .inner {
    color: #C0C0C0;
    overflow: hidden;
}