.bottom-page-content-buttons {
    margin-bottom: 70px;
    margin-top: 60px;
}

.button-wrapper {
    width: 100%;
    text-align: center;
}

.button-wrapper a:hover {
    border-color: #D8D36B;
}

.button-wrapper:last-child {

}

.button-wrapper a{
    margin-bottom: 0;
    text-shadow: none;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: none;
    padding: 1em 2em;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    border: 3px solid #8A191B;
    border-radius: 0.25em;
}

.button-wrapper a:hover {
    text-decoration: unset;
    color: #D8D36B;;
}

@media only screen and (max-width: 992px) {
    .bottom-page-content-buttons {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .button-wrapper{
        margin: 2em;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .button-wrapper a{
        font-size: 1em;
        text-align: center;
        width: 80%;
    }
}


