body {
  background-image: url("./static/images/banner/Slide1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 65%;
}


.container-fluid.main-cnt {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 0px 96px;
}

.outer-wrpr {
  position: relative;
  width: 100%;
  border: 5px solid #D8D36B;
  background-color: rgba(0,0,0,0.85);
}

.red  {
  background-color: #8A191B;
}

.yellow-color {
  color: #D8D36B;
}

.grey-color {
  color: #C0C0C0;
}

.flexing-around {
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.red-color {
  color: #8A191B;
}

.no-brdr {
  border: unset;
}

.kqhs-nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  list-style-type: none;
}

li a {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: #8A191B;
}

.kqhs-nav-wrpr {
  position: relative;
}

.kqhs-nav-item {

}

.nav-items-wrpr {
  text-align: center;
  margin: auto;
}

.container-fluid:first-child {
  padding: unset;
}

.navbar-collapse.collapse {
  justify-content: center;
}

.navbar-collapse.collapse .mr-auto.navbar-nav {
  margin-right: unset!important;
}