body {
  background-image: url("./static/images/banner/Slide1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}


.container-fluid.main-cnt {
  margin-top: 20px;
  padding: 0px 96px;
}

.outer-wrpr {
  position: relative;
  width: 100%;
  border: 5px solid #D8D36B;
  height: 200px;
  background-color: rgba(0,0,0,0.85);
}

.kqhs-nav-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  display: inline;
  list-style-type: none;
}

li a {
  display: inline-block;
  text-align: center;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: red;
}

.kqhs-nav-wrpr {
  position: relative;
}

.kqhs-nav-item {

}

.nav-items-wrpr {
  text-align: center;
  margin: auto;
}

.container-fluid:first-child {
  padding: unset;
}

.navbar-collapse.collapse {
  justify-content: center;
}

.navbar-collapse.collapse .mr-auto.navbar-nav {
  margin-right: unset!important;
}