.container-fluid .bottom-nav-wrpr a {
    color: #8A191B;
    font-size: 1rem;
    width: 100%;
    cursor: pointer;
    border-right: 1px solid;
    background-color: #D8D36B;
    flex: 1;
    position: relative;
    justify-content: center;
    display: flex;
    padding: 10px;
}


.container-fluid .bottom-nav-wrpr a:last-child {
    border-right: unset;
}

